# **ASSIGNMENT1**

In [ ]:
#TASK1
print("hello world")

hello world

In [ ]:
#TASK2
print(54+56)

110

In [ ]:
#TASK3
season = "Summer"
year = 2023
print(season)
print(year)

Summer
2023

In [ ]:
#TASK4
name = input("Enter your your name: ")
print("Your name is", name)

Enter your your name: Chaman
Your name is Chaman

In [ ]:
#TASK5
m = int(input("Enter the value of m: "))
n = int(input("Enter the value of n: "))
print(m**n)

Enter the value of m: 2
Enter the value of n: 3
8

In [ ]:
#TASK6
corner = int(input())//4
max = corner*4
print(max)

In [ ]:
#TASK7
A = int(input())
B = int(input())
C = int(input())
D = float(input())

formula = A**C + B*A - D/3
print(int(formula))

88
22
1
3.3
2022

In [ ]:
#TASK8
num = int(input())
each = num//3
left = num - each*3
print("Each friend will receive", each, "chocolates")
print("The number of remaining chocolates is", left)

100
Each friend will receive 33 chocolates
The number of remaining chocolates is 1

# ***UNGRADED***

In [ ]:
#TASK=9
m=input()
n=input()
print(n+m)

Python
3
3Python

In [ ]:
#TASK10
integer1= int(input("Enter the first integer: "))
float_num = float(input("Enter the float number: "))
integer2 = int(input("Enter the second integer: "))
res = integer1 + float_num
result = str(res) + str(integer2)
print("The inputs:",integer1,float_num,integer2)
print("The result is:", result)

Enter the first integer: 50
Enter the float number: 5.5
Enter the second integer: 1234
The inputs: 50 5.5 1234
The result is: 55.51234

In [ ]:
#TASK11
number=int(input("Please enter a number: "))

if (number % 2 == 0):
  print("True")
else:
  print("False")

Please enter a number: -11
False

Rough

In [ ]:
#a
number = int(input("Enter a number: "))

if number % 5 == 0 and number % 7 != 0:
    print(number,"is divisible by 5 and not divisible by 7.")
else:
    print(number,"is not divisible by 5 or is divisible by 7.")

In [ ]:
#b
number = int(input("Enter a number: "))

# Check divisibility
if (number % 5 == 0 or number % 7 == 0) and not (number % 5 == 0 and number % 7 == 0):
    print(number,"is divisible by either 5 or 7 but not both.")
else:
    print(number,"is either not divisible by either 5 or 7, or it is divisible by both.")

In [ ]:
# Get user input
number = int(input("Enter an integer number: "))

# Check the number
if number % 2 == 0 and number > 0:
    print("no")
elif number % 2 == 0 or number > 0:
    print("no")
else:
    print("No")

Enter an integer number: -8
no

In [ ]:
age = int(input("Enter your age: "))
disabled = input("Are you disabled? (Yes/No): ")
salary = int(input("Enter your salary: "))
basic_bonus = 0.25 * salary

# Calculate disability bonus
if disabled.lower() == "yes":
    disability_bonus = 5000
else:
    disability_bonus = 3000

# Calculate age bonus
if age < 25:
    age_bonus = 0
elif 25 <= age <= 35:
    age_bonus = 1000
else:
    age_bonus = 2000

# Calculate total bonus
total_bonus = basic_bonus + disability_bonus + age_bonus

# Print the total bonus
print("Your total bonus is:",int(total_bonus))

Enter your age: 45
Are you disabled? (Yes/No): yes
Enter your salary: 40000
Your total bonus is: 17000